@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: linear-gradient(#181124, #181124);
    --secondary-color: #1a1033;
    --background-color: #1a1033;
    --primary-font: sans-serif;
}
/* !Estilos de los imputs */
input:active,
imput:focus{
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #1a1033 inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--primary-color);
    font-family: "Euclid Circular A", "Poppins";
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    position: relative;
  }
  html,
  body {
    height: 100%;
  }

.titleylogo {
  display: flex;
  padding: 0;
  align-items: center;
  width: 20%;
}
.icon {
  min-width: 80px;
  height: 80px;
  margin: 1rem;
  
}
.main_title {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  width: 300px;
  height: auto;
}
.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #5919D2;
  align-items: center;
}
.listas_navbar {
  margin: 10px;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 30px;
}

.listas_navbar li {
  list-style: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  font-size: 20px;
}

.listas_navbar li a{
    text-decoration: none;
    font-style: none;
    color: black;

}
.datos_tarjeta {
  display: flex;
  width: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.cajaFormulario{
    border: 2px solid white;
    color: whitesmoke;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    position: absolute;
    overflow-y: hidden;
    font-family: var(--primary-font);
}
.formulario{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}
/* Estilos de la scrollbar del formulario */
.formulario::-webkit-scrollbar{
    width: 15px;
    height: auto;
    border-radius: 50px;
    position: relative;
}


.formulario::-webkit-scrollbar-button:start:decrement{
    display: block;
    border-radius: 4px;
    width: auto;
    height: 15px;
    display: block;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/crossbar/caret-up-solid.svg);
}
.formulario::-webkit-scrollbar-button:end:increment{
    display: block;
    border-radius: 4px;
    width: auto;
    height: 15px;
    display: block;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/crossbar/caret-down-solid.svg);
    margin-bottom: 20px;
}
.formulario::-webkit-scrollbar-button:hover{
    background-color: #aaa;
}

.formulario::-webkit-scrollbar-thumb{
    
    width: auto;
    height: auto;
    background-color: #401e53 ;
    border-radius: 10px;
}



/* !subtitulos principales del formulario */

.subtitle_datosBasicos, 
.subtitle_datosContacto{
    color: rgb(233, 232, 165);
    display: flex;
    font-family: var(--primary-font);
}

/* !subtitulos de los imputs para el ingreso de datos */
.request_nombreCompleto,
.request_titulo,
.request_empresa,
.request_numeroContacto,
.request_correoElectronico,
.request_direccion,
.request_redesSociales,
.request_linkedIn{
  color: red;
    font-family: var(--primary-font);
}

/* !imputs para el ingreso de los datos */
.name_datos, 
.titulo_datos, 
.empresa_datos, 
.numeroDeContacto_datos, 
.email_datos, .direccion_datos, 
.redesSociales_datos, 
.linkedIn_datos{
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: .5px solid white;
  font-family: (--primary-font);
  width: 90%;
  color: white;
  font-size: 10px;
}
/* !Botón enviar Formulario */

.bottom_enviar{
  border: none;
  background: #401e53;
  color: white;
  box-shadow: 0px 4px 4px 1px black;
  background-position: center;
  width: 100px;
  height: 20px;
  padding: 2px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* !Estilos del fondo y footer */
.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

footer{
  background-color: #181818;
  color: white;
  font-family: var(--primary-font);
  position: relative;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap:10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  align-self: flex-start;
  place-items: center;
}

.footer_title{
  margin: 15px;
  padding: 5px;

}

.footer_information{
  text-align: center;
  width: 750px;
  height: 50px;
  line-height: 1.5;
  overflow: hidden;
}

.footer_logos{
  width: 510px;
  height: 50px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer_logos img{
  margin: 10px;
  border-radius:5px solid white ;
  width: 40px;
  height: 40px;
  padding: 2px;

}
.footer_low_bar{
  display: flex;
  width: 100%;
  align-items: center;
  background-color:#000000;
  height: 50px;
  border-radius: 10px;
}
.footer_low_bar_copyright{
  width: 90%;
  justify-content: start;
  height: 30px;
  align-items: center;
  display: flex;
  margin: 10px;
}
.footer_low_bar a{
  text-decoration: none;
  color: #1d49b9;
  margin: 15px;
}
.footer_low_bar_items{
  display: flex;
  width: 90%;
  height: 30px;
  justify-content: end;
  align-items: center;
  
}
.footer_low_bar_items a{
  margin: 10px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}


/* !Mediaquerits */

  @media screen and (width > 420px) and (width<900px) {
    section {
      align-items: center;
      padding-left: 0;
      gap: 20px;
    }
  
    .links {
      gap: 20px;
    }
    .navbar ul{
        width: 60%;
        margin-left: auto;
    }
    .main_title{
        width: 100%;
        margin: auto;
    }
    .icon{
        min-width: 60px;
    }
    
  }

  
  